body{
    text-align: center;
}

#bulb{
    width: 300px;
    height: 400px;
}

button{
    height: 40px;
    width: 120px;
    background-color: black;
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}